.signin-container-signin{
    height: calc(100vh - 10vh) !important;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;

}
.log-in-signin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: auto;
}
.logo-signin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.back{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.link{
    font-weight: bold;
    width: auto;
}
.request-form{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    // background-color: var(--secondary-color-2);
    // box-shadow: 2px 4px 10px var(--text-color-3);
    position: relative;
}
.form-signin{
    width: 100%;
    min-height:calc(100vh - 10vh);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns, .inputs, .input-fields{
    width: 100%;
}
.svg-part-signin{
    min-height:calc(100vh - 10vh);
    height: auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../../../public/svg/signin2.svg');
    background-color: center;
    background-size: cover;
    background-repeat: no-repeat;
    // border: 1px solid red;
}
.form-part-signin{
    width: 40%;
    min-height:calc(100vh - 10vh);
    height: 100%;
        // padding: 20px;
    background-color: var(--tertiary-color) ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // border: 1px solid black;

}
@media screen and (max-width:900px) {
    .signin-container-signin{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .svg-part-signin{
        height: 50vh;
        width: 100%;
        // border: 2px solid blue;

    }
    .form-part-signin{
        width: 100vw;
        height: auto;
        
    }
}