.my-tile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  // border: 1px solid var(--primary-color-2);
  // background-color: rgba(234, 234, 234, 0.91);
  background-color: var(--secondary-color-2);
  box-shadow: 2px 4px 10px var(--text-color-3);
  width: auto;
  flex-wrap: wrap;
  border-radius: 5px;
  margin: 20px;
}
.flex-modal{
  display: flex;
}
.left-top-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: space-between;
  gap: 1em;
  flex-direction: column;
  padding: 0 10px;
}

.right-bottom-content {
  width: 20%;
  height: 100%;
  padding: 0 10px;
}

.uses {
  padding: 5px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  gap: 20px;
  z-index: 2000;
}

.right-bottom-content {
  display: none;
}

.icons-right {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  height: auto;
  gap: 20px;
}

.med-description {
  max-height: 200px;
  height: 50%;
  padding: 5px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
  border-radius: 10px;
  font-size: auto;
}
.refill-form{
  width: 100%;
}

.refillButton {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.head-title {
  font-weight: bold;
}

.change-tile {
  width: auto; //100%
}

.change-left-content {
  width: 100%;
}

.change-right-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: auto;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid var(--secondary-color-2);
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .refill-form, .refill-image{
    width: 100%;
  }
  .flex-modal{
    display: flex;
    flex-direction: column;
  }
  .my-tile {
    flex-direction: column;
  }

  .change-left-content {
    width: 100%;
  }

  .change-right-content {
    width: 100%;
  }
}

/* Responsive design for PC */
@media (min-width: 769px) {
  .my-tile {
    flex-direction: row;
  }

  .change-left-content {
    width: 40%;
  }

  .change-right-content {
    width: 60%;
  }
}
