.signin-container-reset{
    height: calc(100vh - 10vh);
    // height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    border: 3px solid green;
    // background-image: url('../../../../../public/auth-img/bg2.jpg');
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
}
.logo-reset{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.back{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.link{
    font-weight: bold;
}
.reset-form{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    // background-color: var(--secondary-color-2);
    // box-shadow: 2px 4px 10px var(--text-color-3);
    position: relative;
}
.form-reset{
    width: 100%;
    height: auto;
    border:2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns, .inputs, .input-fields{
    width: 100%;
}
.svg-part-reset{
    min-height:calc(100vh - 10vh);
    height: auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../../../../public/svg/changepassword.svg');
    background-color: center;
    background-size: cover;
    background-repeat: no-repeat;
    // border: 1px solid red;
}
.form-part-reset{
    width: 30%;
    min-height:calc(100vh - 10vh);
    height: 100%;
    padding: 20px;
    background-color: var(--tertiary-color) ;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid black;

}
@media screen and (max-width:1200px) {
    .form-reset{
        display: flex;
        flex-direction: column;
    }
    .form-part-reset, .svg-part-reset{
        width: 100%;
        height: 50vh !important;
        
    }
}