.container {
  width: 100%;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px; 
  }
  
  .icon {
    fill: #8d8d8d;
    width: 2rem;
    height: 2rem;
  }
  
  .heading {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    color: #161616;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0.16px;
    color: #525252;
  }