
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.back{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.link{
    font-weight: bold;
}
.fa-form{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    // background-color: var(--secondary-color-2);
    // box-shadow: 2px 4px 10px var(--text-color-3);
    position: relative;
}
.form-verify{
    width: 100%;
    min-height:calc(100vh - 10vh);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns, .inputs, .input-fields{
    width: 100%;
}
.svg-part-verify{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../../../public/svg/2fa.svg');
    background-color: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.form-part-verify{
    width: 30%;
    height: 100%;
    padding: 20px;
    background-color: var(--tertiary-color) ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
@media screen and (max-width:1200px) {
    .form-verify{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        align-items: flex-start;
    }
    .form-part-verify{
        width: 100%;
        height: 50vh;
    }
    .svg-part-verify{
        height: 50vh;
        width: 100%;
    }
}