.appointment{
    background-color: var(--secondary-color-2);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    gap: 10px;
    border-radius: 5px;
    // max-width: 500px;


}
.test{
    font-weight: bold;
}
.test-description p, .test-description .name{
    font-size: 12px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.appointment-image{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-app{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.edit-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.edit-icon{
    cursor: pointer;
}