.appointments-hub {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  flex-direction: column;
}

.available-doctor {
  background-color: var(--secondary-color-2);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  overflow-x: auto;
  width: 100%;
  height: 50%;
  flex-direction: column;
}

.doctors {
  padding: 20px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 1em;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
@media screen and (max-width:1200px) {
  .doctors{
    display: flex;
align-items:center;
justify-content:center;
flex-direction:column;
width:100%;
  }
  
}
.doctor-tile{
  width: 100%;
}
.search-button {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.doctor-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tertiary-color);
  border-radius: 10px;
  width: 100%;
}

.doctors-image {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}

.doctors-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}

.call-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  gap: 1em;
}

.call {
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  transition: background-color 0.3s;
}

.call:hover {
  background-color: green;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.doctor-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0 10px;
}

.doctor-tile {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  position: relative;
}

.myAppointments-hist {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.next-appointments {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  position: relative;
  padding-bottom: 60px;
}

.new-app {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  bottom: 0;
}

.nextApp-title {
  font-weight: bold;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 760px) {
  .doctors{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .doctor-container {
      display: flex;
      flex-direction: column;
      padding-bottom:20px ;
      gap: 20px;
      border-radius: 10px;
  }
  .doctor-tile{
    border-radius: 10px;
  }
  .doctors-image{
    width: 100%;
  }

  .next-appointments .nextAppCard:nth-child(n+4) {
      display: none;
  }
  .next-appointments{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
