.footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
@media screen and (max-width:760px) {
    .footer{
      display: none;
    }
    
}