.appointments-hub {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  flex-direction: column;
}

.available-doctor {
  background-color: var(--secondary-color-2);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  overflow-x: auto;
  width: 100%;
  height: 50%;
  flex-direction: column;
}

.doctors {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 1em;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
@media screen and (max-width: 1200px) {
  .doctors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .doctor-tile .doctor-container {
    width: 100%;
  }
}
.doctor-tile {
  width: 100%;
}
.search-button {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.doctor-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tertiary-color);
  border-radius: 10px;
  width: 100%;
  height: fit-content;
}

.doctors-image {
  min-height: 200px;
  // width: 150px;
  height: auto;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  // border: 1px solid #000;
}

.doctors-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}

.call-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  gap: 1em;
}
.group-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: auto;
  width: 60%;
}

.call {
  background-color: var(--secondary-color) !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  transition: background-color 0.3s;
}

.call:hover {
  background-color: var(--secondary-color-2);
}
.call:hover > .call-icon {
  color: var(--primary-color);
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.doctor-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0 10px;
}

.doctor-tile {
  width: 100%;
  // max-width: 500px;
  // min-width: 300px;
  position: relative;
}

.myAppointments-hist {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.next-appointments {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative;
  padding-bottom: 60px;
}

.new-app {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  bottom: 0;
}

.nextApp-title {
  font-weight: bold;
  width: 100%;
  text-align: left;
}
@media screen and (max-width: 380px) {
  .group-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: auto;
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .next-appointments {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 760px) {
  .group-flex {
    width: 100%;
  }
  .doctors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .doctor-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 20px;
    border-radius: 10px;
  }
  .doctor-tile {
    border-radius: 10px;
  }
  .doctors-image {
    width: 100%;
    height: auto;
  }

  .next-appointments .nextAppCard:nth-child(n + 4) {
    display: none;
  }
  .next-appointments {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
